<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>趋势跟踪系统<%= assigns[:title] && " - " <> assigns[:title] %></title>
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script>
      var CONFIG = {};
    </script>
  </head>

  <body>
    <div class="container">
      <nav class="navbar ">
        <div class="navbar-brand">
          <%= link to: page_path(@conn, :index), class: "navbar-item" do %>
            <strong class="title is-5" style="font-weight: bold;">
              趋势跟踪系统
              <span style="font-size: 12px;">Beta</span>
            </strong>
          <% end %>
          <%= link "股票列表", to: stock_path(@conn, :index), class: "navbar-item is-hidden-desktop" %>
          <%= link "计算器", to: stock_path(@conn, :counter), class: "navbar-item is-hidden-desktop", target: "_blank" %>
        </div>

        <div class="navbar-menu">
          <div class="navbar-start">
            <%= link "股票列表", to: stock_path(@conn, :index), class: "navbar-item" %>
            <%= link "计算器", to: stock_path(@conn, :counter), class: "navbar-item", target: "_blank" %>
          </div>
        </div>
      </nav>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
