<div class="tabs">
  <ul>
    <%= for {name, caption, href} <- tabs(@conn) do %>
    <li<%= if Map.get(@params, "tab", "all") == caption, do: raw(" class=\"is-active\"") %>>
      <a href="<%= href %>"><%= name %></a>
    </li>
    <% end %>
  </ul>
</div>