<!--<div id="chart" style="width: 800px; height: 600px;"></div>-->

<div>
  <p><strong>股票列表</strong><i>日线最后更新时间: <%= if List.first(@stocks), do: List.first(@stocks).date, else: "" %></i></p>
  <ul>
    <%= for stock <- @stocks do %>
    <li><a href="<%= page_path(@conn, :status, stock.symbol) %>" target="_blank"><%= stock.symbol %></a></li>
    <%= end %>
  </ul>
</div>