/* This file is for your main application css. */
@import "~bulma";

html {
  font-size: 87.5%;
}

table {
  width: 100%;
}
.logo {
  background: url('/favicon.ico') no-repeat 10px 8px;
  background-size: 24px 24px;
  padding-left: 36px;
}
.icon-vip {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('/images/icon/vip.png') no-repeat;
  background-size: cover;
}