/* This file is for your main application css. */
@import "~bulma";

html {
  font-size: 87.5%;
}

table {
  width: 100%;
}
.icon-vip {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('/images/icon/vip.png') no-repeat;
  background-size: cover;
  
}